body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

#produtos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
}

.produto {
    width: 300px;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.preco {
    font-weight: bold;
    color: #007bff;
    margin-top: 1em;
}

#contato {
    background-color: #f8f8f8;
    padding: 2em;
    text-align: center;
    margin-top: 7.5%;
}

#contato h2 {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

.contato{
    margin-top: 10%;
}
